{% extends 'userindex.html' %}
{% block contents %}
<div class="breadcrumb-section" style="background-color: #051922;" >
    <div class="container" >
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <h1>About</h1>
                </div>
            </div>
        </div>
    </div>
</div>
{% load static %}
<br>
<!-- featured section -->
<h1 class="text-center" ><span style="color: #F28123;" >About</span> US</h1>
<div class="feature-bg">
    <div class="container">
        <br><br><br>
        <div class="row">
            <div class="col-lg-7">
                <div class="featured-text">
                    <h2 class="pb-3">Why <span class="orange-text">Daily Mart</span></h2>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 mb-4 mb-md-5">
                            <div class="list-box d-flex">
                                <div class="list-icon">
                                    <i class="fas fa-shipping-fast"></i>
                                </div>
                                <div class="content">
                                    <h3>Home Delivery</h3>
                                    <!-- <p>sit voluptatem accusantium dolore mque laudantium, totam rem aperiam, eaque ipsa quae ab illo.</p> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-5 mb-md-5">
                            <div class="list-box d-flex">
                                <div class="list-icon">
                                    <i class="fas fa-money-bill-alt"></i>
                                </div>
                                <div class="content">
                                    <h3>Best Price</h3>
                                    <!-- <p>sit voluptatem accusantium dolore mque laudantium, totam rem aperiam, eaque ipsa quae ab illo.</p> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-5 mb-md-5">
                            <div class="list-box d-flex">
                                <div class="list-icon">
                                    <i class="fas fa-briefcase"></i>
                                </div>
                                <div class="content">
                                    <h3>Custom Box</h3>
                                    <!-- <p>sit voluptatem accusantium dolore mque laudantium, totam rem aperiam, eaque ipsa quae ab illo.</p> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="list-box d-flex">
                                <div class="list-icon">
                                    <i class="fas fa-sync-alt"></i>
                                </div>
                                <div class="content">
                                    <h3>Quick Refund</h3>
                                    <!-- <p>sit voluptatem accusantium dolore mque laudantium, totam rem aperiam, eaque ipsa quae ab illo.</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="" style="margin-left: 400px;">
    <div class="container">
        <br><br><br>
        <div class="row">
            <div class="col-lg-10">
                <div class="featured-text">
                    <h2 class="pb-3">Our Mission <span class="orange-text">& Vision</span></h2>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 mb-4 mb-md-5">
                            <div class="list-box d-flex">
                                <div class="">
                                    <i class=""></i>
                                </div>
                                <div class="content">
                                    <h3>Our Mission</h3>
                                    <p><i>At DailyMart, our mission is to simplify everyday shopping by combining technology, innovation, and customer-centricity. We aim to build a platform that not only meets your needs but exceeds your expectations.</i></p>
                                    <!-- <p>sit voluptatem accusantium dolore mque laudantium, totam rem aperiam, eaque ipsa quae ab illo.</p> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-5 mb-md-5">
                            <div class="list-box d-flex">
                                <div class="">
                                    <i class=""></i>
                                </div>
                                <div class="content">
                                    <h3>Our Mission</h3>
                                    <p><i>We envision a world where shopping is effortless and enjoyable for everyone. By leveraging the power of e-commerce, we aspire to empower communities, support local businesses, and contribute to a sustainable future.</i></p>
                                    <!-- <p>sit voluptatem accusantium dolore mque laudantium, totam rem aperiam, eaque ipsa quae ab illo.</p> -->
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><br><br><br><br>

<!-- end featured section -->

<!-- shop banner -->
<section class="shop-banner">
    <div class="container">
        <h3>Sale is on! <br> with big <span class="orange-text">Discount...</span></h3>
        <div class="sale-percent"><span>Sale! <br> Upto</span>50% <span>off</span></div>
        <a href="{% url 'products' cat='all' %}" class="cart-btn btn-lg">Shop Now</a>
    </div>
</section><br><br>
<!-- end shop banner -->

<!-- team section -->

<!-- end team section -->

<!-- testimonail-section -->
<div class="testimonail-section mt-80 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center">
                <center><h2 class="pb-3">What We <span class="orange-text">are Do</span></h2></center>
                <div class="testimonial-sliders">
                    <div class="single-testimonial-slider">
                        <div class="client-avater">
                            <img src="{% static 'assets/img/CONVIENIENCE.jpeg' %}" alt="">
                        </div>
                        <div class="client-meta">
                            <h3> <span>Convenience</span></h3>
                            <p class="testimonial-body">
                                " Shop anytime, anywhere with our user-friendly website and mobile app. Avoid long queues, heavy bags, and the hassle of traffic by shopping from the comfort of your home. "
                            </p>
                            <div class="last-icon">
                                <i class="fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="single-testimonial-slider">
                        <div class="client-avater">
                            <img src="{% static 'assets/img/QUALITY U CAN TRUST.png' %}" alt="">
                        </div>
                        <div class="client-meta">
                            <h3> <span>Quality You Can Trust</span></h3>
                            <p class="testimonial-body">
                                " We partner with reliable suppliers to ensure that every product meets the highest standards of quality. From farm-fresh fruits and vegetables to top-notch electronics, we deliver only the best to our customers. "
                            </p>
                            <div class="last-icon">
                                <i class="fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="single-testimonial-slider">
                        <div class="client-avater">
                            <img src="{% static 'assets/img/Affordable Prices.png' %}" alt="">
                        </div>
                        <div class="client-meta">
                            <h3> <span>Affordable Prices</span></h3>
                            <p class="testimonial-body">
                                " At DailyMart, we believe in value for money. Enjoy competitive prices, exclusive deals, and regular discounts across all categories. Our commitment is to make quality products accessible to everyone. "
                            </p>
                            <div class="last-icon">
                                <i class="fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end testimonail-section -->

<!-- logo carousel -->

<!-- end logo carousel -->

{% endblock %}