{% extends 'userindex.html' %}
{% block contents %}
<div class="breadcrumb-section" style="background-color: #051922;" >
    <div class="container" >
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <h1>Categories</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<div class="row">
    {%  for i in category %}
   
    <div class="col-lg-4 col-md-6 text-center">
        <div class="single-product-item" style="height: 33rem;">
            <div class="product-image">
                <a href=""><img src="{{i.category_image}}" alt="" style="height: 15rem;"></a>
            </div>
            <h3>{{i.category_name}}</h3>
            
            <a href="{% url 'viewcatpro' category=i.category_name %}" class="cart-btn"></i> View Products</a>
      
         
           
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}