{% extends 'userindex.html' %}
{% block contents %}
<style>
  .error{
    color:red;
  }
</style>

<div class="breadcrumb-section" style="background-color: #051922;">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 offset-lg-2 text-center">
              <div class="breadcrumb-text">
                  <h1>Checkout</h1>
              </div>
          </div>
      </div>
  </div>
</div>
<br><br><br><br><br><br><br><br><br>
<div class="container">
  <div class="row">
      <div class="col-md-4 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
              <span class="text-muted">Your cart</span>
              <span class="badge badge-secondary badge-pill"></span>
          </h4>
          <ul class="list-group mb-3">
              {% for i in data %}
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <div>
                      <h6 class="my-0">{{ i.userpro.product_name }}</h6>
                  </div>
                  <span class="text-muted">{{ i.total }} Rs</span>
              </li>
              {% endfor %}
              <li class="list-group-item d-flex justify-content-between">
                  <span>Total:</span>
                  <strong>{{ a.total__sum }}</strong>
              </li>
          </ul>
          <form class="card p-2">
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="Promo code">
                  <div class="input-group-append">
                      <button type="submit" class="btn btn-secondary">Redeem</button>
                  </div>
              </div>
          </form>
      </div>
      <div class="col-md-8 order-md-1">
          <h4 class="mb-3">Billing address</h4>
          <form class="needs-validation" novalidate action="{% url 'checkoutdata' %}" method="POST" id="frm">
              {% csrf_token %}
              <div class="row">
                  <div class="col-md-12 mb-3">
                      <label for="firstName">Name</label>
                      <input type="text" class="form-control" id="firstName" placeholder="" value="{{ request.session.user_name }}" required name="name">
                      <div class="invalid-feedback error">
                          Valid first name is required.
                      </div>
                  </div>
              </div>
              <div class="mb-3">
                  <label for="email">Email <span class="text-muted">(Optional)</span></label>
                  <input type="email" class="form-control" id="email" placeholder="you@example.com" name="email" value="{{ request.session.user_email }}" required>
                  <div class="invalid-feedback error">
                      Please enter a valid email address for shipping updates.
                  </div>
              </div>
              <div class="mb-3">
                  <label for="address">Address</label>
                  <input type="text" class="form-control" id="address" placeholder="" name="address" required>
                  <div class="invalid-feedback error ">
                      Please enter your shipping address.
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-4 mb-3">
                      <label for="state">State</label>
                      <input type="text" class="form-control" id="state" placeholder="State" name="state" required>
                      <div class="invalid-feedback error">
                          Please provide a valid state.
                      </div>
                  </div>
                  <div class="col-md-4 mb-3">
                      <label for="country">Country</label>
                      <input type="text" class="form-control" id="country" placeholder="Country" name="country" required>
                      <div class="invalid-feedback error">
                          Please provide a valid country.
                      </div>
                  </div>
                  <div class="col-md-3 mb-3">
                      <label for="zip">Zip</label>
                      <input type="text" class="form-control" id="zip" name="pincode" required>
                      <div class="invalid-feedback error">
                          Zip code required.
                      </div>
                  </div>
              </div>
              <hr class="mb-4">
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="same-address">
                  <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
              </div>
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="save-info">
                  <label class="custom-control-label" for="save-info">Save this information for next time</label>
              </div>
              <hr class="mb-4">
              <h4 class="mb-3">Payment</h4>
              <div class="d-block my-3">
                  <div class="custom-control custom-radio">
                      <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                      <label class="custom-control-label" for="credit">Credit card</label>
                  </div>
                  <div class="custom-control custom-radio">
                      <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                      <label class="custom-control-label" for="debit">Debit card</label>
                  </div>
                  <div class="custom-control custom-radio">
                      <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
                      <label class="custom-control-label" for="paypal">Paypal</label>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6 mb-3">
                      <label for="cc-name">Name on card</label>
                      <input type="text" class="form-control" id="cc-name" placeholder="" required>
                      <small class="text-muted">Full name as displayed on card</small>
                      <div class="invalid-feedback">
                          Name on card is required
                      </div>
                  </div>
                  <div class="col-md-6 mb-3">
                      <label for="cc-number">Credit card number</label>
                      <input type="text" class="form-control" id="cc-number" placeholder="" required>
                      <div class="invalid-feedback error">
                          Credit card number is required
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-3 mb-3">
                      <label for="cc-expiration">Expiration</label>
                      <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                      <div class="invalid-feedback error">
                          Expiration date required
                      </div>
                  </div>
                  <div class="col-md-3 mb-3">
                      <label for="cc-cvv">CVV</label>
                      <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                      <div class="invalid-feedback error">
                          Security code required
                      </div>
                  </div>
              </div>
              <hr class="mb-4">
              <button class="btn btn-lg btn-block" type="submit" style="background-color: #F28123;">Continue to checkout</button>
          </form>
      </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js"></script>
   <script type="text/javascript">
    $('#frm').validate({
    rules: {
    name: {
    required: true,
    minlength: 5
    },
    email:{
    required:true,
    email:true
    },
    pincode:{
    required:true,
    minlength:5
    },
    address:{
    required:true,
    },
    state:{
      required:true,
      minlength:3
    },
    country:{
      required:true,
      minlength:3
    },

   

    }
   
   
    })
   
   
   </script>
</body>
{% endblock %}