{% extends 'adminindex.html' %}
{% block contents %}
<div class="container d-flex justify-content-center  full-height" style="height: 100vh;">
    <div class="row w-100 ">
        <div class="col-md-6 offset-md-3 mt-5">
          <div class="card">
            <div class="card-header bg-primary text-white">Update Category</div>
            <div class="card-body">
                {% for i in data %}
              <form action="{% url 'updatecat' id=i.id %}" enctype="multipart/form-data" method="POST">
                  {% csrf_token %}
                <div class="form-group">
                  <label for="categoryname">Category Name</label>
                  <input type="text" class="form-control" id="categoryname" value="{{i.category_name}}" placeholder="Enter category name" required name="cat_name" >
                </div>
                <div class="form-group">
                  <label for="categorydesc">Category Description</label>
                  <input type="text" class="form-control" id="categorydesc" value="{{i.category_desc}}" placeholder="Enter category description" required name="cat_desc">
                </div>
                <div class="form-group">
                  <label for="categoryimage">Image</label>
                  <input type="file" class="form-control-file" id="categoryimage" required name="cat_img" >
                </div>
               
                <button type="submit" class="btn btn-primary btn-block">Update Category</button>
              </form>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}